.experience-container {
  padding: 30px 0;
  background-color: #393939;

  .experience-heading {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
  }

  .experience-info {
    line-height: 1.5;
    font-family: 'League Spartan', sans-serif;

    .position-title {
      font-weight: bold;
      color: #aa9aba;
      font-size: 1.2rem;
    }
    .company-title {
      color: #6baa75;
      font-size: 1.5rem;
      margin-top: 0.25rem;
    }

    .description {
      font-weight: 500;
      font-size: 1rem;
    }

    .experience-date {
      margin-top: 0.2rem;
      color: #dfdfde;
      font-weight: lighter;
      font-size: 0.75rem;
    }
  }
}
