.skill-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 24px;
  min-height: 200px;
  min-width: 170px;
  border: 0.5px solid #ffffff;

  img {
    fill: black;
    height: 150px;
    width: 130px;
  }

  .skill-name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #a395b1;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 900px) {
  .skill-item {
    min-height: 120px;
    width: 120px;
    margin: 12px;
    img {
      height: 80px;
      width: 80px;
    }
  }
}
